[Unit]
Description={{ container_name }} docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ container_name }}
ExecStop=/usr/bin/docker stop -t 2 {{ container_name }}
TimeoutSec=30

[Install]
WantedBy=multi-user.target
